# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
client_secret_429403262574-tj33j60qn4mbd6vsl47cnpu4agr2uql1.apps.googleusercontent.com.json

client_secret_429403262574-9151q9802t6p4249v9452l4v7r72r64g.apps.googleusercontent.com.json

client_secret_429403262574*
.env
# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android
